form {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3rem;
    padding:12px;
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);   
}

h1 {
    text-align: center;
}

input {
    font-size: 1.3rem;
    line-height: 1.2;
}

.input-wrapper {
    width: 100%;
    padding: 6px;
}

.form-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.salary-input {
    width: 90%;
    cursor: pointer;
}

.color-input {
    width: 50%;
    cursor: pointer;
    background-color: #FFF;
}

button {
    font-size: 1.3rem;
    padding: 6px 18px;
    cursor: pointer;
    border-radius: .5rem;
    border: 0;
    background-color: #FFF;
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
}

button:hover,
button:focus {
    background: #fef200;
}

button:active {
    transform: scale(0.90);
}